config/dev.yml
config/private.yml
config/final.yml
releases/*.tgz
dev_releases
blobs/gemfire
blobs/java
.blobs
.dev_builds
.idea
.final_builds/jobs/**/*.tgz
.final_builds/packages/**/*.tgz
*.swp
*~
*#
#*
.gitreview
.cache
Gemfile.lock
.bundle